:root {
    --color-background: #ffffff;
    --color-text: #181818;
    --color-button-background: #f0f0f0;
    --color-button-text: #5b5b5b;
    --color-accent: #e7bb4d;
  
    --sidebar-width: 200px;
    
    --blog-post-width: 600px;
  }
    
  @font-face {
    font-family: "Benton Sans Bold";
    src: url("https://d1v5qbuvucewy1.cloudfront.net/webtype/Benton-Sans-Bold/30842d1e-54a1-4dcb-afd8-7c493fbe3100-2.eot?");
    src: url("https://d1v5qbuvucewy1.cloudfront.net/webtype/Benton-Sans-Bold/30842d1e-54a1-4dcb-afd8-7c493fbe3100-2.eot?") format("embedded-opentype"), url("https://d1v5qbuvucewy1.cloudfront.net/webtype/Benton-Sans-Bold/30842d1e-54a1-4dcb-afd8-7c493fbe3100-3.woff") format("woff"), url("https://d1v5qbuvucewy1.cloudfront.net/webtype/Benton-Sans-Bold/30842d1e-54a1-4dcb-afd8-7c493fbe3100-1.ttf") format("truetype"), url("https://d1v5qbuvucewy1.cloudfront.net/webtype/Benton-Sans-Bold/30842d1e-54a1-4dcb-afd8-7c493fbe3100-4.svg#web") format("svg");
  }
  
  body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  li {
    margin-left: 1em;
    font-family: monospace;
    font-size: 10pt;
    letter-spacing: -0.02em;
  }

  a {
    color: var(--color-text);
    text-decoration-color: var(--color-accent);
  }

  iframe {
    max-width: 100%;
  }
  
  section {
    position: block;
    width: auto;
    max-width: 800px;
    height: auto;
    line-height: 1.4;
    display: inline-block;
    margin-bottom: 1em;
  }

  section.centered {
    display: flex;
    align-items: center;
  }

  .about section {
    margin-bottom: 2em;
    min-width: 100%;
  }
  
  .about h1 {
    font-size: larger;
    letter-spacing: -0.04em;
    margin-top: 0;
    margin-bottom: 0.2em;
  }

  .about h2 {
    font-size: larger;
    letter-spacing: -0.04em;
    margin-top: 0;
    margin-bottom: 0.2em;
  }
  
  .about b {
    font-weight: 600;
  }
  
  .about em {
    font-size: smaller;
    font-weight: 100;
    letter-spacing: normal;
    text-align: right;
  }
  
  .sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    margin-left: 3em;
    margin-top: 6em;
  }

  .sidebar p {
    font-size: 12px;
    line-height: 1.4;
  }

  .sidebar p a {
    color: var(--color-text);
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
  }
  
  .sidebar p a:hover {
    font-style: italic;
  }

  .sidebar .logo {
    font-family: "Benton Sans Bold", sans-serif;
    line-height: 0.9;
    font-size: 40px;
    background-color: var(--color-background);
    width: min-content;
  }
  
  .sidebar .logo a {
    color: var(--color-text);
    text-decoration: none;
  }
    
  .sidebar span {
    background-color: var(--color-background);
    padding: 2px;
  }

  .content {
    margin-left: 25%;
    margin-right: 10%;
    margin-top: 50px;
    max-width: 800px;
  }
  
  .content p {
    margin-top: 0.6em;
  }

  .content .blog-post {
    max-width: var(--blog-post-width);
  }
  
  .headshot {
    float: left;
    margin-right: 20px;
  }
  
  .headshot img {
    max-height: 400px;
    max-width: 400px;
  }

  .skills-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    column-gap: 1.1em;
    row-gap: 1em;
  }

  .skills-item {
    text-align: left;
    vertical-align: top;
    margin: 0;
    padding-left: 0;
    padding-right: 2em;
  }

  .key {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
  }

  .key-tag {
    font-size: small;
    padding: 2px 5px;
    line-height: 1em;
  }

  .project-li {
    margin-bottom: 2em;
  }

  .project-li a {
    color: var(--color-text);
    text-decoration: none;
  }

  .project-li img:hover {
    filter: drop-shadow(2px 2px 6px #90909080);
    transition-duration: 250ms;
    transition-property: filter;
  }

  .project-li h1 {
    font-size: 24pt;
    letter-spacing: -0.04em;
    margin: 0.1em 0;
    color: var(--color-text);
  }
  
  .blog-post h1 {
    margin-top: 0.5em;
    letter-spacing: -0.04em;
  }
  
  .project-li .description {
    color: var(--color-text);
    letter-spacing: -0.04em;
    margin: 0;
    text-decoration: none;
    font-style: italic;
  }
  
  .blog-post .description {
    color: var(--color-text);
    letter-spacing: -0.01em;
    margin: 0;
    text-decoration: none;
    font-style: italic;
  }

  .project-li .project-tag {
    font-size: small;
  }

  .award {
    font-size: small;
    line-height: 2em;
  }
  
  .award a {
    text-decoration: none;
  }

  .tag {
    font-size: small;
    letter-spacing: -0.02em;
    padding: 2px 5px;
    color: var(--color-button-text)!important;
    background-color: var(--color-button-background);
    border-radius: 5px;
    text-decoration: none;
  }
  
  .tag:hover {
    background-color: var(--color-accent);
    transition-duration: 250ms;
    transition-property: background-color;
  }

  .status-tag {
    font-size: small;
    font-weight: bold;
    margin-left: 1em;
    letter-spacing: -0.05em;
    color: var(--color-button-text);
  }

  .horizontal-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    row-gap: 1em;
  }

  .horizontal-item {
    font-size: small;
    padding: 4px 1.2em;
    color: var(--color-button-text);
    text-decoration-color: var(--color-accent);
  }

  .resume-flex {
    display: flex;
    flex-flow: row wrap;
    column-gap: 0.2em;
    line-height: 2em;
    letter-spacing: -0.04em;
  }

  .resume-break {
    display: none;
  }

  .line-div {
    flex: 1;
    padding: 0;
  }

  .the-line {
    height: 50%;
    margin: 0 0.4em;
    border-bottom:1px solid var(--color-button-background);
  }

  #navigation {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    width: 100%;
  }
  
  #navigation div {
    width: 300px;
  }
  
  #navigation a {
    text-decoration: none;
  }
  
  #navigation .nav-button {
    color: var(--color-button-text);
  }
  
  #navigation img {
    max-height: 120px;
  }
  
  #navigation .nav-title {
    padding-right: 2em;
    margin-top: 0.6em;
    letter-spacing: -0.03em;
  }
  
  #navigation p {
    padding-right: 4em;
    margin-top: 0.2em;
    font-size: small;
    font-style: italic;
    letter-spacing: -0.02em;
  }

  #footer {
    font-size: small;
    line-height: 1.5em;
    margin-top: 0;
  }
  
  #footer a {
    text-decoration: none;
  }
  
  #footer p {
    margin-top: 0;
  }

  .footer-flex {
    display: flex;
    flex-wrap: row;
  }
  
  .footer-expander {
      flex: 1;
  }

  @media screen and (max-width: 450px) {
    .footer-flex {
      flex-wrap: wrap;
      padding-bottom: 2em;
    }
  }

  @media screen and (max-width: 800px) {
    .sidebar {
      margin-top: 1em !important;
      padding: 0;
      margin-left: 0.5em;
      width: 40%;
      position: absolute;
    }

    .sidebar .logo {
      margin: 0em;
    }
    
    .content {
      margin-top: 22em;
      margin-left: 10%;
      max-width: 85%;
      object-fit: contain;
    }

    .content h1 {
      margin-top: 0.5em;
    }
    
    .project-li {
      max-width: 100%;
    }
    
    .project-li img {
      max-width: 110%;
    }
    
    .blog-post img {
      max-width: 100%;
    }
    
    .centered {
      gap: 1em;
      flex-direction: column;
    }
    
    .headshot {
      margin: unset;
      width: 100%;
    }
    
    .resume-flex {
      margin-bottom: 1em;
    }
    
    .resume-flex span {
      line-height: 1.5em;
    }

    .resume-break {
      display: flex;
      flex-basis: 100%;
    }

    .section-header {
      padding: 0.6em 0;
    }

    #navigation {
      flex-flow: row wrap;
    }
  }

  
  @media screen and (max-width: 1100px) {
    .resume-flex {
      flex-direction: column;
      flex-flow: row wrap;
    }
  
    .line-div {
      display: none;
    }
  
    .about em {
      margin-left: 0.2em;
    }  
  }